h1 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

li {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}

.homeText {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

form {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.logoImg {
    width: 80px;
}

.title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}